.Homestyle{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    text-align: left;
    width: auto;
    margin:  auto;
    padding: 50px;
    align-items: center;
}
.title{
    background-color: #6D9886;
    padding: 10%;
    text-align: center;
}
.backgroundTitle{
    background-color: #F7F7F7;
}

.Examstyle{
    display: flex;
    
    margin: auto;
}

